{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Faça Login ou Crie sua Conta para continuar</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    <legend>Login</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_login.email.label(class="form-control-label") }}
                            {{ form_login.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_login.password.label(class="form-control-label") }}
                            {{ form_login.password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_login.remember_me.label(class="form-check-label") }}
                            {{ form_login.remember_me(class="form-check-input") }}
                        </div>
                    </fieldset>
                    {{ form_login.btn_submit_login(class="btn btn-primary mt-2") }}
                </form>
            </div>
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    <legend>Criar Conta</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_create_account.username.label(class="form-control-label") }}
                            {{ form_create_account.username(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.email.label(class="form-control-label") }}
                            {{ form_create_account.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.password.label(class="form-control-label") }}
                            {{ form_create_account.password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.password_confirmation.label(class="form-control-label") }}
                            {{ form_create_account.password_confirmation(class="form-control") }}
                        </div>
                    </fieldset>
                    {{ form_create_account.btn_submit_create_account(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}