{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Faça Login ou Crie sua Conta para continuar</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_login.csrf_token }}
                    <legend>Login</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_login.emaill.label(class="form-control-label") }}

                                {% if form_login.emaill.errors %}
                                    {{ form_login.emaill(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for erro in form_login.emaill.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form_login.emaill(class="form-control") }}
                                {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_login.passwordl.label(class="form-control-label") }}
                            {% if form_login.passwordl.errors %}
                                {{ form_login.passwordl(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form_login.passwordl.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form_login.passwordl(class="form-control") }}
                            {% endif %}

                        </div>
                        <div class="form-group">
                            {{ form_login.remember_me.label(class="form-check-label") }}
                            {{ form_login.remember_me(class="form-check-input") }}
                        </div>
                    </fieldset>
                    {{ form_login.btn_submit_login(class="btn btn-primary mt-2") }}
                </form>
            </div>
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_create_account.csrf_token }}
                    <legend>Criar Conta</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_create_account.username.label(class="form-control-label") }}
                            {% if form_create_account.username.errors %}
                                {{ form_create_account.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form_create_account.username.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form_create_account.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.email.label(class="form-control-label") }}
                            {% if form_create_account.email.errors %}
                                {{ form_create_account.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form_create_account.email.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form_create_account.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.password.label(class="form-control-label") }}
                            {% if form_create_account.password.errors %}
                                {{ form_create_account.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form_create_account.password.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form_create_account.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_create_account.password_confirmation.label(class="form-control-label") }}
                            {% if form_create_account.password_confirmation.errors %}
                                {{ form_create_account.password_confirmation(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for erro in form_create_account.password_confirmation.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                    </div>
                            {% else %}
                                {{ form_create_account.password_confirmation(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form_create_account.btn_submit_create_account(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}